{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
     <h1 style="text-align: center">Ne Verdik Bilelim!</h1>
    {% if borrows|length < 1 %}
    <h4 style="text-align: center"> Yok mu kardeşim, roket moket:) </h4>
    {% else %}
     <table>
        <tr>
            <th>Takım Adı</th>    
            <th>Malzeme Adı</th>
            <th>Adet</th>
            <th>Veren Personel</th>
            <th>Verdiği Tarih</th>
            <th>Actions</th>
        </tr>
        {% for borrow in borrows %}
            <tr>
                <td>{{ borrow.team_name }}</td>
                <td>{{ borrow.equipment }}</td>
                <td>{{ borrow.quantity }}</td>
                <td>{{ borrow.staff }}</td>
                <td>{{ borrow.date_created.datetime }}</td>
                <td>
                    <a href="">Sil</a>
                    <br>
                    <a href="">Güncelle</a>
                </td>
            </tr>
        {% endfor %}    
     </table>
    {% endif %}  
     <form action="/" method="POST">
        <input type="text" name="team_name" >
        <label> takım adı</label>
        <!-- <input type="submit" value="takim adi"> -->   
        <input type="text" name="equipment" >
        <label> malzeme adı</label>
        <!-- <input type="submit" value="takim adi"> -->   
        <input type="quantity" name="quantity" >
        <label> adet</label>
        <input type="staff" name="staff" >
        <label> personel</label>
        <br>
        <input type="submit" value="gönder"> 
     </form>
</div>
{% endblock %}
